.card {
    background: #efeeee;
    margin: 10px;
}
.table {
    margin-bottom: 40px;
}

.featuredSolicitor{
    margin-bottom: 5px;
}

.card-title{
    text-align: center;
    letter-spacing: 2px;
}